div {
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
img1 {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: right;
  text-align: center;
}
list {
  height: 100%;
  width: 100%;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  text-align: center;
}
